*.class
*.log

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

# Mac
.DS_Store

# Ignore configuration stored in application.properties
application.properties
